<launch>
  <!-- navigation common params-->
  <rosparam file="$(find nav_demo)/param_common/local_costmap_params.yaml"      command="load" ns="move_base"/>
  <rosparam file="$(find nav_demo)/param_common/global_costmap_params.yaml"     command="load" ns="move_base"/>
  <rosparam file="$(find nav_demo)/param_common/move_base_params.yaml"          command="load" ns="move_base"/>
  <rosparam file="$(find nav_demo)/param_common/base_global_planner_param.yaml" command="load" ns="move_base"/>
  <rosparam file="$(find nav_demo)/costmap_common_params/teb_local_planner_params.yaml"  command="load" ns="move_base"/>
  <rosparam file="$(find nav_demo)/costmap_common_params/costmap_converter_params.yaml" command="load" ns="move_base" />
  <param name="move_base/base_local_planner"    type="string" value="teb_local_planner/TebLocalPlannerROS"/>
  <arg name="car_mode"  default=""/>
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    
    <rosparam file="$(find nav_demo)/costmap_common_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav_demo)/costmap_common_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <!-- param name="base_global_planner" value="BAstar_planner/BAstarPlannerROS"/-->
  </node>
</launch>


